<div>
  <div class="page-header">
    <h1>Predire in Grafana</h1>
  </div>

  <div class="row">
    <div class="col-md-10">
      <p>
        Predire in Grafana è un plug-in sviluppato per Grafana v6.5.0, la cui utilità è quella di fornire all'utente un
        servizio di previsione dei valori di determinati nodi monitorati dal sistema.
        Lo scopo del plug-in è quello di analizzare il flusso di dati proveniente da Grafana per fornire delle
        previsioni riguardo i punti critici di utilizzo della linea di produzione del software.
        L’analisi dei dati e le previsionisaranno effettuate utilizzando modelli di machine learning quali Support
        Vector Machine e Regressione Lineare.
        I risultati delle previsioni verranno forniti in modo grafico agli utenti che monitorano il sistema.
        Per il corretto utilizzo del plug-in è necessario essere in possesso del programma di addestramento, il quale
        una volta forniti dei dati di monitoraggio validi sarà in grado di addestrare il modello desiderato e produrre
        un file JSON che verrà richiesto dal plug-in in fase di configurazione.
      </p>
    </div>
  </div>

  <div class="gf-form-inline">
    <div class="gf-form">
      <button class="btn btn-success" ng-click="ctrl.redirect()">Configura Plugin</button>
    </div>
  </div>
  
  <br>
</div>
