<div>
  <div class="page-header">
    <h1>Predire in Grafana</h1>
  </div>

  <div class="row">
    <div class="col-md-10">
      <p>In questa pagina è possibile configurare il plug-in.</p>
    </div>
  </div>

  <div ng-if="!ctrl.jsonImported" class="gf-form-group">
    <form class="gf-form">
      <label class="btn btn-primary" for="dashupload">Carica file JSON</label>
      <dash-upload class="hide" on-upload="ctrl.onUpload(dash)"/>
    </form>

    <br/>

    <p>O incolla qui il contenuto del file JSON e
      <button type="button" class="btn btn-secondary"
        ng-click="ctrl.loadText()">Carica</button>
    </p>
    <div class="gf-form">
      <textarea class="gf-form-input width-30" rows="10"
        ng-model="ctrl.jsonText"></textarea>
    </div>
    <div ng-if="ctrl.jsonError" class="text-error p-l-1">
      <i class="fa fa-warning"></i>
      {{ctrl.jsonError}}
    </div>
  </div>

  <div ng-if="ctrl.jsonImported" class="gf-form-group">
    <div ng-if="ctrl.jsonImported" class="page-action-bar text-success p-l-1">
      <i class="fa fa-check"></i>
      {{'JSON importato'}}
    </div>

    <div class="gf-form-group">
      <div class="gf-form">
        <label class="gf-form-label width-8">Modello:</label>
        <input type="text" class="gf-form-input width-4" ng-model="ctrl.model" readonly/>
      </div>
    </div>
    
    <div class="gf-form-group">
      <div class="gf-form">
        <label class="gf-form-label width-8">Predittore:</label>
        <div class="gf-form-select-wrapper">
          <select class="gf-form-input" ng-model="ctrl.predictor" ng-options="p for p in ctrl.availablePredictors"/>
        </div>
      </div>
    </div>

    <div class="gf-form-group">
      <div class="gf-form">
        <label class="gf-form-label width-8">Sorgente:</label>
        <div class="gf-form-select-wrapper">
          <select class="gf-form-input" ng-model="ctrl.source" ng-options="s for s in ctrl.availableSources"
            ng-change="ctrl.buildParams()"/>
        </div>
      </div>
    </div>

    <div class="gf-form-group">
      <div class="gf-form">
        <label class="gf-form-label width-8">Parametro:</label>
        <div class="gf-form-select-wrapper">
          <select class="gf-form-input" ng-model="ctrl.param" ng-options="p for p in ctrl.selectedSourceParams"/>
        </div>
      </div>
    </div>

    <div class="gf-form-group">
      <div class="gf-form">
        <label class="gf-form-label width-8">Visualizzazione:</label>
        <div class="gf-form-select-wrapper">
          <select class="gf-form-input" ng-model="ctrl.view" ng-options="v for v in ['Grafico']"/>
        </div>
      </div>
    </div>
  
    <br/>
    <br />

    <div class="gf-form">
      <button class="btn btn-success"
        ng-click="ctrl.createPanel()">Crea Pannello</button>
      <span ng-if="ctrl.notSelectedError" class="text-error p-l-1">
        <i class="fa fa-warning"></i>
        {{ctrl.notSelectedError}}
      </span>
    </div>
  </div>
</div>
